.suggestions {
    display: none;
    background-color: white;
    border: 1px solid gray;
    width: 100%;
}

.suggestions div {
    padding: 5px;
    cursor: pointer;
}

.suggestions div:hover {
    background-color: lightgray;
}

.result {
    display: none;
}

p {
    display: inline;
}

.btn-primary:hover {
  background-color: rgb(64, 85, 172);
}

.formbg {
  width: 95%;
  max-width: unset;
}

@media (max-width: 768px) {
  /* Styles for devices with screen width up to 768px */
  .card-body p,ul,li,h5 {
    font-size: 85% !important;
  }
  .box-root {
    flex-direction: column;
  }
  .box-root > div {
    grid-area: unset !important;
  }
  .formbg-outer {
    padding: 0 15px;
  }
  .formbg-outer {
    padding: 0 0px;
  }
  .padding-horizontal--48 {
    padding: 24px;
  }
  .col-sm-3 {
    margin-top: 15px !important;
  }
}

.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}
@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}
@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}
.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}

.teamResultsGlobal, label, input, .field input.regular, button, select, option {
  font-size: 0.9rem; /* Default font size for desktop */

  /* Media query for mobile devices with a maximum width of 767px */
  @media (max-width: 767px) {
    font-size: 0.75rem !important; /* Font size for mobile devices */
  }
}

.teamResultsDetails {
  font-size: 0.9rem; /* Default font size for desktop */

  /* Media query for mobile devices with a maximum width of 767px */
  @media (max-width: 767px) {
    font-size: 0.6rem !important; /* Font size for mobile devices */
  }
}
